* {
  margin: 0px;
  padding: 0px;
}
.banner-img {
  border-radius: 16px;
  background: url("../resources/Banner\ Image.png"),
    lightgray 0px -150.131px / 100% 164.194% no-repeat;
  width: 1320px;
  height: 600px;
  padding: 50px auto;
  margin: 50px auto;
}
.banner-description {
  font-family: Merriweather;
  color: #ffffff;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.happy-new-year {
  font-size: 32px;
  padding-top: 177px;
}
.new-year-celebration {
  font-size: 72px;
  padding-top: 15px;
}
.off-section {
  font-family: Inter;
  text-align: center;
}
.off {
  color: #f00000;
  font-size: 88px;
}
.holiday-deal {
  color: #f00000;
  font-size: 24px;
}
.catagories {
  color: #070211;
  font-size: 48px;
}
.off-section img {
  width: 802.9px;
  height: 500px;
}
.midnight-party-section {
  padding: 50px auto;
  margin: 50px auto;
  background-image: url("../resources/Vectorrr.png");
  width: 1320px;
  height: 600px;
  display: flex;
  
}
.midnight-party-section-c1 {
  text-align: left;
  justify-content: center;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}
.mn-p-s-img {
  width: 141.641px;
  height: 141.641px;
  transform: rotate(-45deg);
}
.mn-party-section-h {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900px;
  width: 642px;
  margin-top:120px ;
  margin-left: 100px;
}
.mn-party-section-p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400px;
 margin-top: 10px;
 margin-left: 100px;
}
.btn{
  background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  color: #FFFFFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700px;
text-transform: uppercase;
margin-top: 20px;
margin-left: 120px;
text-decoration: none;
}