* {
  margin: 0px;
  padding: 0px;
}
.banner-img {
  border-radius: 16px;
background: url('../resources/Banner\ Image.png'), lightgray 0px -150.131px / 100% 164.194% no-repeat;
  width: 1320px;
  height: 600px;
 
  padding: 50px auto;
  margin: 50px auto;
}
.banner-description {
  font-family: Merriweather;
  color: #ffffff;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.happy-new-year {
  font-size: 32px;
  padding-top: 177px;
}
.new-year-celebration {
  font-size: 72px;
  padding-top: 15px;
}
.off-section {
  font-family: Inter;
  text-align: center;
}
.off {
  color: #f00000;
  font-size: 88px;
}
.holiday-deal {
  color: #f00000;
  font-size: 24px;
}
.catagories {
  color: #070211;
  font-size: 48px;
}
.off-section img {
  width: 802.9px;
  height: 500px;
}
